################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ValidateUI/ValidateUI.VC.VC.opendb
